/*
.qr-wrapper{
    width:100%;
    padding:20px;
    max-width:300px;
    text-align:center;
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    
}
.qr-wrapper img{
    margin:auto;
}
*/

ion-content {
    --ion-background-color:rgb(64,219,187);
}

.all_content {
    color:white;
    font-family:"calibri";
    font-size:14px;
    justify-content:center;
    flex-direction:column;
    width:100%;

    margin: 0;
    padding:0;
    position: absolute;
    left:0%;
    top: 50%;
    transform: translateY(-50%);

}

.flex {
    justify-content:center;
    flex-direction:column;
    text-align:center;
}

.bold {
    font-weight:bold;
    display:inline;
}

.table1 {
    width:90%;
    margin:auto;
    margin-bottom:5px;
}

.table1_element {
    width:33%;
}

.line {
    position:absolute;
    display:block;
    left:20%;
    width:60%;
    height:15px;
    border-bottom: 2px solid white;
}

.first_row {
    height:30px;
}

.container1 {
    display:block;
    position:relative;
    margin:0;
    width:100%;
    height:100%;
    text-align:center;
}

.checkmark_border1 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height: 20px;
    width: 20px;
    background-color: rgb(64,219,187);
    border-radius: 50%;
    border: 2px solid white;
}

#complete > .mark1 {
    position:absolute;
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:20px;
    width:20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 5px grey;
}

#current_page > .mark1 {
    position:absolute;
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:20px;
    width:20px;
    background-color: rgb(255,0,127);
    border-radius: 50%;
    box-shadow: 0px 2px 5px grey;
}

#incomplete > .mark1 {
    position:absolute;
    display:none;
}

.container2 {
    display: block;
    position: relative;
    margin:0 auto;
    width:90%;
    text-align:center;
    padding:20px;
}

.checkmark_border2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    background-color: rgb(64,219,187);
    border-radius: 50%;
    border: 1px solid white;
}

.container2 input {
    position: absolute;
    opacity: 0;
}

.container2 input:checked ~ .mark2 {
    position:absolute;
    display:block;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.container2 input ~ .mark2 {
    position:absolute;
    display:none;
}

.container2 input:checked ~ .border2 {
    position:absolute;
    display:block;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border: 1px solid white;
}

.container2 input ~ .border2 {
    position:absolute;
    display:none;
}

.title {
    font-weight:none;
    font-family:"calibri";
    text-align:center;
    font-size:16px;
    margin-bottom:30px;
    margin-top:0;
}

.input {
    color:white;
    border:1px solid white;
    font-family:"calibri";
    font-size:14px;
    margin:5px;
    width:auto;
    text-align:center;
}

.table2 {
    width:90%;
    margin:auto;
}

.table3 {
    margin:auto;
    margin-top:10px;
}

th > * {
    vertical-align : middle;
}

.image {
    transform: scale(0.75);
    margin-right:5px;
}

.label {
    width:85%;
    text-align:left;
    margin:auto;
    margin-top:20%;
    font-size:16px;
    font-weight:none;
}

.link {
    text-align:left;
    text-decoration:underline;
    color: rgb(255,0,127);
    font-size: 16px; 
}