.title {
    color: rgb(255,0,127);
    font-size: 24px;
    font-weight:bold;
    font-family:"calibri";
    padding-bottom: 5px;
}

.text {
    color:grey;
    font-size:14px;
    font-weight:bold;
    font-family:"calibri";
}

.image1 {
    padding-bottom:10px;
}

.image2 {
    margin-right:10px;
    transform: scale(0.75);
}

.input {
    text-align: left;
    color:grey;
    font-size:14px;
    font-family:"calibri";
    width:200px;
    border-bottom: 1px solid grey;
    margin:auto;
}

.input1 {
    text-align: left;
    color:grey;
    font-size:14px;
    font-family:"calibri";
    width:200px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin:auto;
}

.table {
    margin: 15px auto 0px auto;
    text-align:center;
}

th > * {
    vertical-align : middle;
}

.button {
    border-radius:150px;
    color:white;
    font-size:18px;
    font-family:"calibri";
    width:288px;
    height:45px;
    background-color: rgb(64,219,187);
    margin: 20px auto;

    -webkit-box-shadow: 0px 15px 20px rgba(255, 0, 127, 0.25);
    -moz-box-shadow:    0px 15px 20px rgba(255, 0, 127, 0.25);
    box-shadow:         0px 15px 20px rgba(255, 0, 127, 0.25);
}

.link {
    display:inline;
    font-weight:normal;
    color:rgb(255,0,127);
    font-size:12px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.all_content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.span1 {
    display:flex;
    flex-direction:column;
}

.span2 {
    margin:20px;
}

.span3 {
    display:flex;
    flex-direction:column;
}

@media only screen and (max-height:420px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .all_content {
        margin: 0;
        position: absolute;
        
        margin-top:125px;
        margin-bottom:30px;
    }
}

/*
@media only screen and (min-width: 768px) {
    .title {
        font-size: 36px;
    }

    .text {
        font-size:21px;
    }

    .button {
        font-size:27px;
    }

    .input {
        font-size:21px;
        width:390px;
    }

    .link {
        font-size:18px;
    }

    .button {
        border-radius:225px;
        color:white;
        font-size:27px;
        font-family:"calibri";
        width:432px;
        height:67.5px;
        background-color: rgb(64,219,187);
        margin: 30px auto;

        -webkit-box-shadow: 0px 22.5px 30px rgba(255, 0, 127, 0.25);
        -moz-box-shadow:    0px 22.5px 30px rgba(255, 0, 127, 0.25);
        box-shadow:         0px 22.5px 30px rgba(255, 0, 127, 0.25);
    }

    .image1 {
        transform: scale(1.5);
        padding-bottom:20px;
    }

    .image2 {
        transform: scale(1.5);
    }
}*/